$bgColor: #3356df;
$aqua: #7fD8FF;
$blue: #007409;
$navy: #001F3F;
$teal: #39cccc;
$olive: #309970;
$white: #fff;
$sky_blue: #5bc0de;


/*Styling for the login page*/

.loginbody {
	padding-top: 100px;
	width: 100%;
	font-family: 'Lobster', cursive;
	color: $teal;
	h1 {
		text-transform: uppercase;
		font-size: 80px;
		text-shadow: 2px 2px 3px $navy;
	}

}


.login-para {
	font-size: 35px;
	color: $teal;
}

img {
	height: 50px;
	width: 200px;

}
/*end*/

/*Styling for the Navbar*/

.navtop {
	height: 60px;
}

.navbar-inverse {
	height: 40px;
}

/*end*/

.footer {
	color: $white;
	padding: 10px 0px;
}



/*styling for the news source*/
.search-feed {
	margin-top: 20px auto 20px auto;
	width: 400px;
	
}

.description {
	padding: 0px 10px;
}

.search-bar:focus {
		border: none;
		border-bottom: 2px solid #3356df;
	}

	.float-right {
		float: right;
		margin-right: 10px;
	}

	.float-left {
		float: left;
		margin-left: 10px;
	}

	/*end*/

	/*Styling for the article page*/
$width: 30%;
.article-frame {
	margin: 16px;
	width: $width;
	height: 400px;
	box-shadow: 1px 1px 1px $sky_blue;
	border-radius: 5px;
	overflow: scroll;
	&:hover {
		box-shadow: 2px 3px 3px $sky_blue;
		border-radius: 5px;
		cursor: pointer;
	}

}
.params-uppercase {
	text-transform: capitalize;
	text-shadow: 1px 2px 2px black;
}

	a {
		text-decoration: none;
	}

	.card {
		height: 250px;
		box-shadow: 1px 2px 2px $sky_blue;

	}
	.view {
		border-radius: 5px;
		margin-left: 20px;
		text-shadow: 1px 1px 1px black;
		&:hover{
			background-color: #fff;
			color: $sky_blue;
		}
	}

	div.share-container {
		display: inline-block;
		margin-right: 30px;
		text-align: center;
	}

	div.share-button {
		
	}
/*end*/

/*Styling for the footer*/

.footer {
		font-size: 12px;
	}

	/*end*/




